/*-- scss:defaults --*/

// Colors
$warm-cream: #f2e5c9;
$dark-olive-green: #556b2f;
$rust: #b7410e;
$pastel-green: #a8b97c;

// Base document colors
$body-bg: $warm-cream;                // page background
$navbar-bg: $dark-olive-green;  // navbar
$navbar-fg: $warm-cream;              // navbar foreground elements
$navbar-hl: $rust; // highlight color when hovering over navbar links
$footer-bg: $dark-olive-green;  // footer background
$footer-fg: $warm-cream;  // footer foreground
$link-color: $rust;  // hyperlinks

// Font
$font-family-base: Georgia, serif;

/*-- scss:rules --*/

// resume button
 .resume-button {                //button to link to resume pdf
  background-color: $dark-olive-green;
  color: $warm-cream;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

// blocks
.green-block { // backround block with color
  background-color: $pastel-green;
  padding-block: 1.3rem; // colored portion block: top/bottom boundaries
  padding-inline: 2rem; // side padding
  margin-bottom: 2rem; // background portion
}
#green-block-text {
  font-size: 1.1rem !important;
  line-height: 1.4 !important; // line spacing 

}