/*-- scss:defaults --*/

// Colors
$warm-cream: #f2e5c9;
$dark-olive-green: #556b2f;
$rust: #b7410e;

// Base document colors
$body-bg: $warm-cream;                // page background
$navbar-bg: $dark-olive-green;  // navbar
$navbar-fg: $warm-cream;              // navbar foreground elements
$navbar-hl: $rust; // highlight color when hovering over navbar links

// Font
$font-family-base: Georgia, serif;

//resume button
 .resume-button {
  background-color: $dark-olive-green;
  color: $warm-cream;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}